bin/
build*/
nouse/
objs/
lib/
dll/
Release/
Debug/
.vs/
html/
cache/
.libs/
.deps/
autom4te.cache/
build-aux/
aclocal.m4
Makefile
Makefile.in
config.h.in
config.h
configure
stamp-h1
libtool
*.opt
*.ncb
*.aps
*.plg
*.clw
*.tlb
*.db
*.idb
*.sqlite
*.opensdf
*.sdf
*.suo
*.exe
*.obj
*.o
*.lo
*.Plo
*.la
*.a
*.zip
*.tar*
*.log
*.status
*.directory
*~
/*.png
/*.jpg
/*.gif
/*.bmp
/*.doc
/*.imp
/*.rtf
/*.psd
/.project
